* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contenedor {
    width: 10rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

.imgObras {
    width: 150px;
    margin: 0.5rem;
    /* object-fit: contain; */
}

.imgObras:hover{
    cursor:pointer;
}