.contenedor {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.imgObras {
    width: 150px;
    margin: 0.5rem;
    /* object-fit: contain; */
}

.imgObras:hover{
    cursor:pointer;
}

@media only screen and (min-width: 768px){
    .contenedor{
        width: 40rem;
    }
}

@media only screen and (min-width: 1024px){
    .contenedor{
        width: 60rem;
    }
}

@media only screen and (min-width: 1200px){
    .contenedor{
        width: 70rem;
    }
}