.botonArana {
    background: none;
    padding: 0.5rem;
    border: solid 0.1rem;
    font-weight: bold;
}

.botonArana:hover{
    background-color: black;
    color: white;
}

.gridArana {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Foto Texto1"
        "Texto2 Texto2";
}

.Foto {
    grid-area: Foto;
}

.Texto1 {
    grid-area: Texto1;
    padding: 1px;
    margin: 1px;
    margin-top: 1rem;
}

.Texto2 {
    grid-area: Texto2;
    margin: 1px;
    padding: 1px;
}

@media only screen and (max-width: 768px){
    .gridArana{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr;
        grid-template-areas:
        "Foto"
        "Texto1"
        "Texto2";
    }
}