.mensaje{
    margin: 7rem;
    text-align:center;
    display: flex;
    flex-direction: column;
}

.construccion{
    font-size:larger;
}

.imgObra{
    width: 30vw;
    filter:brightness(19%);
    filter:contrast(19%);
    filter:grayscale(100%);
}



